doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="https://cdnjs.cloudflare.com/ajax/libs/localforage/1.10.0/localforage.min.js")
    script(src='/sso.js')
  body
    block content
